footer{
	min-height: 50px;
	width: 100%;
	background-color: var(--mainColor);
	margin-top: 80px;
	color: white;
	font-family: Nunito, sans-serif;
	text-align: center;
	padding: 65px 0 50px 0;
	display: flex;
	flex-direction: column;
}
footer content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
footer content div{
	min-width: 30%;
	font-size: 13px;
	font-family: Nunito, sans-serif;
}
footer content div img{opacity: 0.3;margin: 1px 5px;filter: invert(1);}
footer content div img:hover{opacity: 0.75}
footer a{
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	font-family: Nunito, sans-serif;
	color: var(--mainColor);
}
footer hr{
	width: 99%;
	opacity: 0.2;
	margin-top: 40px;
}