html{scroll-behavior: smooth;}
body{
	background-color: var(--bgColor);
	margin: 0;
	border: 0;
	padding: 30px 0 0 0;
	font-family: Nunito, sans-serif;
	font-size: 18px;
	user-select: none;
	color: var(--fontColor);
}
section{
	margin: 10px 80px;
	padding: 0 10%;
}
a{
	padding: 5px 10px;
	background-color: var(--mainColor);
	color: white;
	border-radius: 5px;
	text-decoration: none;
}
h1{
	font-size: 36px;
    width: 100%;
    margin-top: 100px;
    color: var(--mainColor);
	font-family: Braah One, sans-serif;
}
span{color: var(--mainColor);font-family: Geologica, sans-serif;}
hr{border: 1px solid #343840}

.lock{
	width: 64px;
    height: 64px;
    background-image: url('../images/lock.png');
    margin: 0 50%;
    transform: translateX(-50%);
}




@media screen and (max-width: 480px) {
section{
	margin: 10px 0px;
	padding: 0 25px;
}
}
